.navbar-custom {
    background-color: #004d00;  /* This is a dark green color */
    color: white;
    font-family: Arial, sans-serif;
  }

  .btn-custom {
    background-color: #004d00;
    color: #ffffff;
  }

  .nav-link-custom {
    color: white;
  }


  .navbar-toggler-custom {
    border-color: white;
  }

  .navbar-toggler-custom .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  }
